In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('homepage_actions.csv')
df.head()

                    timestamp      id       group action
0  2016-09-24 17:42:27.839496  804196  experiment   view
1  2016-09-24 19:19:03.542569  434745  experiment   view
2  2016-09-24 19:36:00.944135  507599  experiment   view
3  2016-09-24 19:59:02.646620  671993     control   view
4  2016-09-24 20:26:14.466886  536734  experiment   view

In [3]:
df.shape

(8188, 4)

In [4]:
df.nunique()

timestamp    8188
id           6328
group           2
action          2
dtype: int64

In [6]:
df.groupby('group').nunique()

            timestamp    id  group  action
group
control          4264  3332      1       2
experiment       3924  2996      1       2

In [6]:
df.action.value_counts()

view     6328
click    1860
Name: action, dtype: int64

In [7]:
df.query('action == "click"').id.nunique() / df.query('action == "view"').id.nunique()

0.2939317319848293

In [10]:
df.timestamp.max(), df.timestamp.min()

('2017-01-18 10:24:08.629327', '2016-09-24 17:42:27.839496')